@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-color: steelblue;
    color: #fff;
    font-family: 'Mulish', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 5px;
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container a {
    text-decoration: none;
    color: lightblue;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input {
    /* color removes white blocks*/
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    /* to move onto its own line */
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
}

