@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

:root {
  --left-bg-color: rgba(87, 84, 236, 0.7);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --left-btn-hover-color: rgba(87, 84, 236, 1);
  --right-btn-hover-color: rgba(28, 122, 28, 1);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto, sans-serif';
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h2 {
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    /* to put in the middle: */
    transform: translateX(-50%);
    /* so it does not wrap onto a new line: */
    white-space: nowrap;
}

.btn {
    position: absolute;
    /* to put text in the center use flex */
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 40%;
    /* again move in the middle: */
    transform: translateX(-50%);
    /* remove the underline */
    text-decoration: none;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 15rem;
    padding: 1.5rem;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #333;
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.split.left {
  left: 0;
  background-image: url('https://github.com/bradtraversy/50projects50days/blob/master/split-landing-page/ps.jpg?raw=true');
}

.split.left::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bg-color);
}

.split.right {
  left: 50%;
  background-image: url('https://github.com/bradtraversy/50projects50days/blob/master/split-landing-page/xbox.jpg?raw=true');
}

.split.right::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bg-color);
}
